{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <h1 class="display-1">Change your password</h1>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="old-password" placeholder="Your Current Password" type="password">
        </div>
        <!-- New password input element -->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new-password" placeholder="Enter New password" type="password">
        </div>
        <!-- Password confirmation input element -->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm your new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
